[submodule "thirdParty/gmsh"]
	path = thirdParty/gmsh
    url = https://github.com/momentum-equation/gmsh.git
[submodule "thirdParty/googletest"]
	path = thirdParty/googletest
    url = https://github.com/google/googletest.git
[submodule "thirdParty/blitz"]
	path = thirdParty/blitz
	url = https://github.com/blitzpp/blitz.git
